.page-inner__wrapper {
  position: relative;
  display: grid;
  align-items: center;
  background-color: $bg-color-grey;
  padding: 75px 0;

  @media (min-width: $tablet-width) {
    padding: 100px 0;
  }
}

.page-inner__title {
  display: flex;
  justify-content: center;
  font-family: $font-bold;
  font-size: 27px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}
