.product-data__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.product-data__wrapper-color {
  display: grid;
  grid-row-gap: 43px;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 23.5px;
    grid-row-gap: 57px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(3, 260px);
    grid-column-gap: 3px;
    grid-row-gap: 57px;
  }
}

.product-data__item-type {
  margin-bottom: 24px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 58px;
  }
}
