.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 52px;
  padding: 16px 26px;
  font-family: $font-family;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: $text-base-color;
  background-color: transparent;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid $text-base-color;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $text-base-color;
    color: $bg-color-base;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3)
  }
}
