// Fonts

$font-family: "OpenSans-regular", "Arial", sans-serif;
$font-bold: "OpenSans-bold", "Arial", sans-serif;
// Size

$mobile-width: 320px;
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1150px;

//resolution

$high-resolution: 2dppx;

// Colors

$text-base-color: #444444;
$text-second-color: #000000;
$text-accent-color: #63d1bb;
$bg-color-base: #ffffff;
$bg-color-grey: #f1f1f1;

